<section class="archive">
  <div class="container">
    <h1>Archive</h1>
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
    <h4>{{ year.name }}</h4>
    <ul>
      {% for post in year.items %}
      <li>
        <a class="archive-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%e %B" }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
    <p class="rss"><i class="fa fa-rss mr-3"></i><a href="/Feed/">RSS Feed</a></p>
  </div>
</section>