.post {
  .post-title {
    margin-bottom: 0;
  }

  h2,
  h3,
  h4 {
    color: $primary;
    padding-top: 10px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // Code heading
  h5 {
    font-size: 14px;
    background-color: $gray-200;
    padding: 8px 10px;
    margin-bottom: 0;
  }

  // Code
  .highlight {
    pre {
      padding: 10px;
      font-size: 18px;
    }
  }

  code.highlighter-rouge {
    font-size: 15px;
    padding: 2px 5px;
    background-color: $gray-200;
    color: $gray-800;
    vertical-align: center;
  }
}
