.related-post {
  .heading{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  h5 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .date {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .summary {
    margin-bottom: 0;
  }
}
