---
layout: default
title: About
permalink: /About/
---

{% include 'title.html' %}

<div class="container py-6">
  <article class="prose">
    <img
      class="mb-4 w-48 rounded-full ring-2 ring-blue-800 ring-offset-4"
      src="/assets/images/profile.jpg"
    />

    <p>Hi, I'm Dan. I am</p>

    <ul>
      <li>a <a href="https://www.matthiasmedia.com.au/2wtl/">Christian</a>,</li>
      <li>a software developer,</li>
      <li>an <a href="https://www.arsenal.com/">Arsenal FC</a> fan,</li>
      <li>
        but not (and have never been) a
        <a href="https://en.wikipedia.org/wiki/Dan_Carter">rubgy player</a>.
      </li>
    </ul>

    <p>
      On the subject of the second of those, this is my coding blog. Someone
      wise (no idea who) once said “expression deepens impression”; i.e. if you
      tell someone something you remember it better. Let’s hope that's the case
      with this blog …
    </p>

    <p>
      Oh yeah, and I also hope you find it
      useful/&#8203;interesting/&#8203;informative/&#8203;entertaining (delete
      as appropriate).
    </p>

    <p>Find me in other places:</p>

    <ul>
      {% for link in about-links %}
      <li>
        <i class="{{ link.icon }} mr-3"></i>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </article>
</div>
