---
layout: default
title: Archive
permalink: /Archive/
---

{% include 'title.html' %}

<div class="container">
  <article>
    {% for post in collections.posts reversed %}
    {% assign currentYear = post.date | date: "%Y" %}
    {% unless currentYear == previousYear %}
    {% if previousYear %}
    </ul>
    {% endif %}
    <h2 class="font-bold text-3xl my-6">{{ currentYear }}</h2>
    <ul>
      {% endunless %}
      <li class="leading-tight my-1">
        <span class="text-gray-500 mr-4">{{ post.date | date: "%e %B" }}</span>
        <a class="text-blue-500 text-lg underline hover:no-underline" href="{{ post.url | prepend: site.baseurl }}">{{
          post.data.title
          }}</a>
      </li>
      {% assign previousYear = currentYear %}
      {% endfor %}
    </ul>

    <p class="my-6">
      <i class="fa fa-rss mr-3"></i>
      <a class="text-blue-500 underline hover:no-underline" href="/Feed/">RSS Feed</a>
    </p>
  </article>
</div>